<div class="container">
  <div>
    <span class="left-nav" (click)="navigateLeft()"><</span>
    <span class="right-nav" (click)="navigateRight()">></span>
    <span *ngIf="srcId == 2" style="background: #bbb;" class="circle test1"></span>
    <span *ngIf="srcId == 1" style="background: #bbb;" class="circle test2"></span>
    <span *ngIf="srcId == 3" style="background: #bbb;" class="circle test3"></span>
    <span *ngIf="srcId !== 2" class="circle test1"></span>
    <span *ngIf="srcId !== 1" class="circle test2"></span>
    <span *ngIf="srcId !== 3" class="circle test3"></span>
    <img *ngIf="srcId == 1" src="https://picsum.photos/id/237/200" id="image" alt="cap 1">
    <img *ngIf="srcId == 2" src="https://picsum.photos/id/238/200" id="image" alt="cap 1">
    <img *ngIf="srcId == 3" src="https://picsum.photos/id/239/200" id="image" alt="cap 1">
  </div>
</div>